@model _02_MVA_Ex.Models.OneTowMany.Albam_OneTowMany

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Albam_OneTowMany</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArtistID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArtistID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Albam_OneTowManyID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
